{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelpers.html" import render_field %}
    <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Data Processing</h1>
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        {{render_field(form.upload, class_="form-control-file")}}
                    </div>
                    <p><input type="submit" class="btn btn-primary" value="Process Spreadsheet"></p> 
                </form>
            </div>
          </div>
   
{% endblock %}