{% extends 'layout.html' %} 
{% set active_page = "upload" %} 
{% block body %}
<div class="container has-text-centered box">
    <p class="title has-text-black">
        Process Spreadsheet...
    </p>
    <form id="form-process">
        <div class="columns">
            <div class="column">
                <div class="file has-name is-primary">
                    <label class="file-label">
                        {{ form.csrf_token }} {{ form.upload(class="file-input", id="file-upload", type="file") }}
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                        <span id="file-upload-name" class="file-name">
                            my example.xlsx
                        </span>
                    </label>
                </div>
            </div>
            <div class="column">
                <button type="submit" class="button-process button is-info">
                    <span class="icon">
                        <i class="fas fa-play"></i>
                    </span>
                    <span>Process</span>
                </button>
                <a class="button-loading button is-info is-loading">
                    <span class="icon">
                        <i class="fas fa-play"></i>
                    </span>
                    <span>Process</span>
                </a>
                <a href="/download" class="button-download button is-success">
                    <span class="icon">
                        <i class="fas fa-file-download"></i>
                    </span>
                    <span>Download</span>
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}